/* Font-Family */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

/* body */
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #d96b34;
}
/* Navbar */

.navbar {
  padding: 0 20px;
  background: #000;
}

.cuz-nav-brand {
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.cuz-nav-link {
  margin: 0 20px;
  color: white;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
}

.cuz-nav-link:hover {
  color: #d96b34;
  transition: 0.2s ease-in-out  ;
}

/* Navbar End */

/* Section */
section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}

.name {
  color: white;
  font-weight: 800;
  letter-spacing: 2px;
}

.social-icons {
  display: flex;
  list-style: none;
}

.social-items {
  margin: 0 10px;
}

.social-links {
  text-decoration: none;
  cursor: pointer;
  font-size: 30px;
}